<header>
    <div class="logo-container">
        <img src="/assets/png/Minecraft-Logo.png">
    </div>
        <div class="text-container">
            <div class="list">
                <nav>
                    <ul class="menu-left__list " >
                        <li class="menu-left__item">
                            <a href="#inicio">Início</a>
                        </li>
                        <li class="menu-left__item">
                            <a href="#historia">História</a>
                        </li>
                        <li class="menu-left__item">
                            <a href="#voce-pode">Ver mais</a>
                        </li>
                        <li class="menu-left__item">
                            <a href="#sobre-o-jogo">Sobre o jogo</a>
                        </li>
                    </ul>
                </nav>
                    
            </div>
        </div>
</header>