<div class="container-text" id="inicio">
    <div class="heading">
        <h1>VOCÊ ESTÁ EM UMA PÁGINA SOBRE <br/>MINECRAFT</h1>
        
    </div>
    <span class="heading-border"></span>
    <h2>Entre no mundo do Minecraft</h2>
    <p class="primer">
        Com novos jogos, novas atualizações e novas formas de
            jogar, dá para comecar a criar mundos quando quiser!
            Minecraft é um jogo feito de blocos, criaturas e
            comunidade. Os blocos podem ser usados para remodelar 
            o mundo ou construir criações fantásticas. 
            As criaturas podem ser combatidas ou amizades, dependendo do seu 
            estilo de jogo.
            <br>
            <br>
            Experimente aventuras épicas sozinho ou com amigos, não há maneira errada de jogar.
            A menos que você esteja cavando direto...
            Você vai possui muitas atividades e tarefas...
            O melhor é que você pode escolher, 
            e claro, escolher por onde começar!
    </p>
    <div class="subtitle-item2">
        <div class="image">
            <img src="/assets/png/MC-About_Key-Art_Build_Amazing_Things_600x800.avif" alt="">
        <p>JOGUE COM PARCEIROS</p>
        </div>
    </div>
</div>

<div class="container-text" id="historia">
    <br>
    <br>
    <span class="heading-border"></span>
    <br>
    <h2>Quem inventou o Minecraft?</h2>
    <div class="primer">
        <p> O jogo foi criado em 2009 pelo sueco Markus Persson - mais conhecido como Notch -, na versão conhecida como Clássica. O usuário poderia mexer nos blocos, mas ainda não havia sido criado os elementos de sobrevivência que ajudaram a impulsionar o game.     </p>
        <p> Quando foi oficialmente lançado, em 2011, Markus recebeu aproximadamente US$3 milhões. O criador do Minecraft, então, decidiu dividir essa bolada entre todos os seus funcionários, como maneira de agradecê-los pela parceria e pelo sucesso do estúdio Mojang.</p>
        <p>Ainda nesse período, o Minecraft era disponibilizado gratuitamente na internet, com a possibilidade de adquirir uma versões mais completas e atualizadas por meio de pagamentos extras.</p>
    </div>
    <br>
    <br>
    <h2>O jogo sem fim</h2>
    <div class="primer">
        <p>No início, o jogo não tinha um objetivo. Os usuários ficavam livres nos mundos e poderiam construir e destruir blocos à vontade. Mas em 2011, uma história foi lançada. Os inimigos, os Endermans e o Ender Dragon, deveriam ser combatidos. Este foi mais um passo rumo ao sucesso extraordinário do Minecraft.</p>
        <p>O game tem uma sensação inigualável de infinitude. Cada vez que uma partida começa, o algoritmo desenha um mundo único, com cenários de montanhas, cavernas e castelos, ataques de monstros e zumbis, nunca iguais para os jogadores. Com gráficos simples e coloridos, os jogadores podem construir e desconstruir por horas, sem fronteiras.</p>
    </div>
    <br>
    <h2>Sucesso duradouro</h2>
    <div class="primer">
        <p>
        Com tantas atualizações, buscas por uma melhor jogabilidade e novos lançamentos, o Minecraft deve permanecer por muitos anos em alta. Sem nunca perder a essência do Minecraft, claro, que são as infinitas possibilidades de construção e desconstrução de mundos, cenários e blocos. 
    </p> 
</div>
</div>