
<div id="voce-pode">
    

<div class="textprimer" >
    <span class="heading-border"> </span>
    <div class="image">
        <img src="/assets/png/painel-sublimado-minecraft-14-12148.png"/>
            AQUI VOCÊ VAI:
    </div>
</div>
<div class="subtitle" >
    <div class="subtitle-item">
        <h3>Reunir recursos</h3>
            <div class="subtitle-images">
                <img src="/assets/png/personagem1.png"/>
                <p>Seja astuto e use o ambiente ao redor para coletar materiais de construção. 
                    Veja como derrubar árvores pode ajudá-lo a criar algo novo.</p>
            </div>
    </div>
    <div class="subtitle-item">
        <h3>Sobreviver à noite</h3>
            <div class="subtitle-images">
                <img src="/assets/png/personagem2.png"/>
                <p>É sempre melhor evitar o imprevisível distanciando-se de multidões errantes – você nunca sabe o que acontecerá se eles chegarem muito perto!</p>
            </div>
    </div>
    <div class="subtitle-item">
        <h3>Construir coisas incríveis</h3>
            <div class="subtitle-images">
                <img src="/assets/png/imagem3.png"/>
                <p>Descubra todas as maneiras versáteis pelas quais o pó do minério de
                    redstone pode ser usado para aprimorar suas criações, dar-lhes vida ou 
                    dar-lhes um toque especial.</p>
            </div>
    </div>
</div>

<div id="sobre-o-jogo">
    <div class="textprimer2">
        <br>
        <span class="heading-border"></span>
        
        <p class="mundo"> UM MUNDO COMPLETO</p>
        <p class="frase">
            <strong class="stg">ENTENDA MAIS SOBRE O JOGO</strong>
            <br>
            <br>
            <br>
            <br>
            <strong class="stg2">As principais maneiras de jogar são nos modos criativo e sobrevivência. </strong> 
            <br>
            <br>
            Criativo: para os apaixonados por construções. Esse modo tem todos os blocos liberados para que o jogador use sua criatividade, criando e recriando os locais e cenários.
        Mais pacífico, é possível desativar monstros e zumbis, ativar voo dos personagens e outros efeitos.
            <br>
            <br>
            Sobrevivência: nesse cenário, o mais importante é sobreviver aos ataques de monstros e zumbis, inclusive o Ender Dragon. Também é preciso saber circular para buscar suprimentos e construir coisas manualmente.
        </p>
    </div>
    <div class="subtitle2" >
        <div class="subtitle-item2">
            <h3>MODO CRIATIVO</h3>
                <div class="subtitle-images">
                    <img src="/assets/png/personagem1.png"/>
                    <p>Exponha toda sua criatividade e faça construções épicas! Nesse modo
                        você tem acesso ilimitado a todos recursos e pode construir o que
                        vier a sua imaginação</p>
                </div>
        </div>
        <div class="subtitle-item2">
            <h3>MODO SOBREVIVÊNCIA</h3>
                <div class="subtitle-images">
                    <img src="/assets/png/personagem2.png"/>
                    <p>Em um mundo completamente novo, mistérios e aventuras te aguardam, neste modo épico você descobre mistérios do mundo Minecraft e cria seu próprio destino</p>
                </div>
        </div>
        <div class="subtitle-item2">
            <h3>SERVIDORES</h3>
                <div class="subtitle-images">
                    <img src="/assets/png/imagem3.png"/>
                    <p>Acesse milhares de servidores e conheça outros jogadores. Joguem juntos em modos exclusivos do jogo com customizações feitas pelos próprios jogadores</p>
                </div>
        </div>
    </div>
    <br><br><br><br>
    <span class="heading-border"></span>
</div>
</div>